<h3>投稿詳細</h3>
<div class="mypage">
	<table>
		<tr>
			<td>投稿名</td>
			<td><%= @post.title %></td>
		</tr>
		<tr>
			<td>投稿画像</td>
			<td><%= image_tag @post.img.url  %></td><br>
		</tr>
		<tr>
			<td>投稿内容</td>
			<td><%= markdown(@post.body).html_safe %></td>
		</tr>
		<tr>
			<td>タグ</td>
			<td>
				<%= @post.tag.name %>
			</td>
		</tr>
		<tr>
			<td>ユーザ名</td>
			<td><%= @post.user.name %></td>
		</tr>

	</table>
	<% if @user == current_user %>
		<%= link_to "編集する", edit_travel_post_path, class: "btn btn-primary" %>
		<%= link_to "削除する", travel_post_path(@post),class: "btn btn-danger", method: :DELETE, data:{confirm:"本当に消しますか？"} %>
	<% end %>

	<%= link_to "投稿一覧へ戻る", travel_posts_path, class: "btn btn-primary" %>
</div>
