<!--マイページ画面 -->
<div class="mypage">
    <h3><strong>マイページ</strong></h3><hr>
    <table class="table table-bordered table-condensed">
        <strong class="information-link">登録情報 </strong>
        <%= link_to " 編集する ", edit_user_path, class: "glyphicon glyphicon-pencil btn btn-success" %>&nbsp;
        <strong class="shipping-link">新規投稿　</strong>
        <%= link_to " 投稿する ", new_travel_post_path, class: "glyphicon glyphicon-folder-open btn btn-info" %>
        <tr>
            <td>ユーザ名</td>
            <td><%= @user.name %></td>
        </tr>
        <tr>
            <td>メールアドレス</td>
            <td><%= @user.email %></td>
        </tr>
    </table>
        <p>
            <strong>投稿履歴</strong>
            <%= link_to " 一覧を見る", mypost_user_path , class: "glyphicon glyphicon-folder-open btn btn-info" %>
        </p>
</div>