<!DOCTYPE html>
<html>
  <head>
    <title>TravelBook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  </head>

    <!-- ヘッダー -->
    <div id="header">
      <%= render "layouts/header" %>
      </div>
    </div>
    <%= yield %>
    <!-- フッター -->
      <%= render "layouts/footer" %>
    </div>
    <% else %>

  </body>
</html>
